
    <div class="list-group">
        <a class="list-group-item list-group-item-action disabled"><h1> Фильтры: </h1></a>
            <a href="{% url 'watches' %}" class="list-group-item list-group-item-action"> Все </a>
        <a class="list-group-item list-group-item-action disabled"><h3> Механизм: </h3></a>
            {% for item in mechanisms %}
            <a href="{{ item.get_absolute_url }}" class="list-group-item list-group-item-action"> {{ item.mechanism }} </a>
            {% endfor %}
        <a class="list-group-item list-group-item-action disabled"><h3> Бренды: </h3></a>
            {% for item in companies %}
            <a href="{{ item.get_absolute_url }}" class="list-group-item list-group-item-action"> {{ item.company }} </a>
            {% endfor %}
    </div>
