{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="card">
    <div class="card-header">
      О нашей компании:
    </div>
    <div class="card-body">
      <h5 class="card-title">Наши покупатели для нас - всё!</h5>
      <p class="card-text">Мы уважаем и ценим желания покупателей, их потребности и вкусы. Именно поэтому наша компания стала такой успешной за столь короткий срок. Мы будем продолжать делать нашу работу так же качественно и с любовью!</p>
    </div>
  </div>
</div>
{% endblock %}
