{% extends 'base.html' %}

{% block content %}
  <div class="card mr-5 mb-3" style="width: 60rem;">
    <img src="https://a.allegroimg.com/s1024/0c5923/ef9c1cc0466eb753940bcdedb71b" height="600" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">
          При покупке смартфонов Xiaomi получите скидку до 2 000 руб. на часы Xiaomi Mi Band 5.
      </p>
    </div>
  </div>

  <div class="card mr-5 mb-3" style="width: 60rem;">
    <img src="https://udm.shop.megafon.ru/images/goods/34/3402_k_1.png" height="600" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text">
          Успейте купить смартфоны со скидкой до 20%.
      </p>
    </div>
  </div>
{% endblock %}
